*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F9F4F0;
}
h1, h2, h4{
     font-family: "Signika Negative", sans-serif;
     color: #5A3733;
}
p , a , span{
      font-family: "Open Sans", sans-serif;
}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,For header */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    
}
nav img{
    width: 200px;
}
nav .hamburger img{
    width: 45px;
    margin-top: 15px;
    display: none;
}
.navRight{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navRightLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.navRightLinks a{
    color: #5A3733;
    text-decoration: none;
}
.navRightLinks a:hover{
    color: #EB6D2F;
    text-decoration: underline #EDAC1D;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}
.navRight button{
    background-color: transparent;
    color: #5A3733;
    border: 2px solid #EB6D2F;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 20px;
}
.navRight button:hover{
    background-color: #EB6D2F;
    color: white;
}

/* ,,,,,,,,,,,,,,,,,,hero section */

.heroBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;

}
.heroBoxText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.heroBoxText span{
    color: #EB6D2F;

}
.heroBoxText h1{
    color: #5A3733;
    font-weight: bolder;
    font-size: 100px;
    position: relative;
    display: inline-block;

}
.heroBoxText h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 50px;
    height: 5px; 
    background-color:#EB6D2F; 
    border-radius: 2px; 
}
.heroBoxText p{
    color: #41393F;
    line-height: 1.5;
    font-size: 20px;

}
.heroBoxText a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Signika Negative", sans-serif;
}
.heroBoxText button{
    background-color: #EB6D2F;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    outline: none;
    width: 150px;

}
.heroBoxText button:hover, .honeyTypeCarousal .card button:hover{
    background-color: #EDAC1D;
    cursor: pointer;
}
.heroBoxImage img{
    padding-left: 90px;
}
/* .................what we do */
.whatWeDo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 100px 70px;

}
.whatWeDo span , .whyUs span, .ourStore .textStore span,  .contactContent span{
    color: #EB6D2F;
    font-weight: bold;
}
.whatWeDo h1 , .whyUs h1, .honeyType .honeyTypeText .text h1, .ourStore .textStore h1,  .contactContent h1{
    color: #5A3733;
    font-size: 60px;
    position: relative;
    display: inline-block;
}
.whatWeDo h1::after , .whyUs h1::after , .honeyType .honeyTypeText .text h1::after , .ourStore .textStore h1::after,
 .contactContent h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 50px;
    height: 5px; 
    background-color:#EB6D2F; 
    border-radius: 2px; 
}
.whatWeDo p , .ourStore .textStore p{
    color: #41393F;
    font-size: 18px;
    text-align: center;
}
.cards{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 270px;

}
.card img{
    width: 120px;

}

.card p{
    color: #41393F;

}
.card a{
    text-decoration: none;
    color: #EDAC1D;
}
.card a:hover{
    text-decoration: underline;
     text-underline-offset: 7px;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,whyus */
.whyUs , .ourStore , .contact{
    display: flex;
    gap: 50px;
    padding: 100px 50px;
}
.whyUs p , .contactContent p{
    color: #41393F;
    font-size: 18px;
}
.whyUs .whyUsImg img{
    width: 550px;
}
.whyUsText .textContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.whyUs .textBoxs{
    margin-top: 30px;
}
.whyUs .textBoxs .textBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.whyUs .textBoxs .textBox img{
    width: 120px;

}
/* .....................honeytype */
.honeyType{
    display: flex;
    gap: 20px;
    padding: 100px 50px;
}
.honeyType .honeyTypeText{
    width: 37%;
}
.honeyType .honeyTypeText .text span{
    color: #EB6D2F;
    font-weight: bold;
}
 .honeyType .honeyTypeText .text p{
    color: #41393F;
    font-size: 18px;
    margin-top: 20px;

 }
 .lowerText ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    
   
 }
 .lowerText ul li{
    list-style: none;
    color: #41393F;
    font-size: 18px;
    display: flex;
    align-items: center;  
    gap: 10px;           
    margin-bottom: 10px; 
  
 }
 .lowerText ul li img{
    width: 25px;   
 }
 .honeyTypeCarousal{
    display: flex;
    gap: 25px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    margin: 20px;
 }
.honeyTypeCarousal .card{
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 270px;
    height: 500px;
     box-sizing: border-box;

}
.carousel-container {
    width: 62%;
    position: relative;
}
.honeyTypeCarousal .card button{
    background-color: #EB6D2F;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    outline: none;
    width: 150px;
    margin-top: 15px;
}
.dots-container{
    text-align: center;   
    margin-top: 20px; 
}
.dots {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    background-color:#D2C5C1;
    cursor: pointer;
    text-align: center;
}
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background:#725550;
    color: white;
    border: none;
    width: 35px;      
    height: 35px;     
    border-radius: 50%;  
    cursor: pointer;
    font-size: 18px;
    display: flex;       
    align-items: center;
    justify-content: center;
}

.prev { left: 3px; }
.next { right: 3px; }
.prev:hover, .next:hover { background: #5A3733; }
 
/* ,,,,,,,,,,,,, ourstore */
.ourStore{
    padding: 100px 70px;
    display: flex;
    flex-direction: column;

}
.ourStore .textStore{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

/* ,,,,,,,,,,,,,,,,,,,,,,products */
.ourStore .stores{
    display: flex;
    gap: 30px;
    overflow: hidden;
}
.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 500px;
    width: 500px;  
    box-sizing: border-box; 
    flex: 0 0 270px;

}
.productCard img{
    width: 200px;
    margin-bottom: 20px;

}
.productCard p{
    color: #EDAC1D;
    font-weight: bold;
    font-size: 20px;
    font-family:"Signika Negative", sans-serif ;

}
.productCard h3{
    color: #939393;
    font-family:"Signika Negative", sans-serif ;
    font-size: 25px;

}
.productCard button{
    background-color: #EB6D2F;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    outline: none;
    width: 150px;

}
.card button a, .productCard button a{
    text-decoration: none;
    color: white;
}
.productCard button:hover{
    background-color: #EDAC1D;
    cursor: pointer;
}
.cart-icon {
  position: fixed;
  top: 20px;
  right: 25px;
  background: #fff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
   display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  cursor: pointer;
}
.cart-icon img {
    width: 50px;
}
   .cart-icon.show {
      display: flex;
    }
/* Badge (the small red number) */
.cart-icon .badge {
  position: absolute;
  top: 10px;
  right: 8px;
  background:#F7BD00;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  padding: 2px 6px;
  font-weight: bold;
}

@keyframes bump {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
.bump {
  animation: bump 0.3s ease;
}
/* shoopinr cart */

 .cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%; /* Hidden by default */
  width: 550px;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 9999;
}
.cart.active {
  right: 0;
}

.cartHeading{
    background-color: #F7F8FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #D2C5C1;
}
.cartHeading span{
    font-size: 20px;
    font-weight: bold;
    color: #5A3733; 
    cursor: pointer;
}
.cart h4{
    color: #939393;
    font-size: 14px;
    padding: 20px 20px 0px;
    
}
.cartItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #D2C5C1;


}
.cartItems img{
    width: 50px;
    
}
.cartItems span i{
    color: #939393;;
}
.inputBox {
  position: relative;
  display: inline-block;
}

.inputBox input {
  width: 80px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.inputBox button {
  position: absolute;
  right: 5px;
  width: 25px;
  height: 50%;
  border: none;
  background: transparent;
  color: #666;
  cursor: pointer;
  transition: 0.2s;
}
.inputBox button:first-child {
  top: 4px;
}

.inputBox button:last-child {
  bottom: 4px;
}

.inputBox button:hover {
  color: #663B36;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart a, .cart p{
    color: #939393;
    font-weight: bold;
    font-size: 20px;
}
.cart form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    justify-content: center;

}
.cart form label{
    color: #939393;
    font-size: 20px;

}
.cart form label span{
    color:#EB6D2F;
}
.cart form input{
    background-color: #EBE7E6;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 20px;
}
.cart form textarea{
    background-color: #EBE7E6;
    border: none;
    outline: none;
    width: 93%;
    height: 70px;
    border-radius: 10px;
    padding: 15px 20px;
    color: #939393;
}
.cart form input::placeholder{
    color: #939393;
}
.cart form button{
    background-color:#EB6D2F;
    color: white;
    border: none;
    outline: none;
    width: 30%;
    margin-top: 20px;
    align-self: center;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
}
.cart form button:hover{
    background-color:#EDAC1D;
}
.promo .promoBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
   
}
.promo .promoBox span{
    color: #725550;
}
/* .promo .promoBox .promoo{
    display: none;
} */
.promo .promoBox .promoo input{
    padding: 10px 20px;
    border-radius: 5px;
    outline:none;
    border: 1px solid #D2C5C1;
}
.promo .promoBox .promoo button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #EB6D2F;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.promo .promoBox .promoo button:hover{
    background-color: #EDAC1D;
}
.promo{
    display: flex;
    border-bottom: 1px solid #D2C5C1;
    align-items: center;
    justify-content: space-between;

}
.promo h4 , p{
    color: #939393;
    font-size: 20px;
}
.promo .price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.promo .price p{
    margin-right: 20px;
    padding-right: -10px;
     margin-bottom: 50px;
}
.promo .price h4{
    margin-bottom: 70px;
    
}






/* ,,,,,,,,,,,,testimonls */
.testimonals{
    background-color: #5A3733;
    padding-bottom: 60px;
}
.testimonialText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 100px 50px;

}
.testimonialText span{
    color:#EDAC1D;
    font-weight: bold;
}
.testimonialText h1{
    color: white;
    font-size: 60px;
    position: relative;
    display: inline-block;

}
.testimonialText h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 50px;
    height: 5px; 
    background-color:#EDAC1D; 
    border-radius: 2px; 
}
.testimonialText p{
    color: white;
    font-size: 18px;
    text-align: center;

}
.testimonals .testCOntainer{
    display: flex;
    gap: 50px;
    padding: 40px 100px;
    overflow: hidden;
    
}
.testimonals .testimonialBox{
    background-color: #663B36;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    flex: 0 0 450px;
    padding: 40px;

    
}
.testimonals .testimonialBox img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #EB6D2F;

}
.testimonals .testimonialBox h3{
    color: #EDAC1D;
    font-weight: bold;
}
.testimonals .testimonialBox p{
    color: white;
    text-align: center;

}
/* ...............contact us */
.contactContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contactAdd{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}
.contactAdd .add{
    display: flex;
    
    gap: 80px;
}
.contactAdd .add h3{
    font-size: 25px;
    font-weight: bold;
    color: #5A3733;
    font-family: "Signika Negative", sans-serif;

}
.contactAdd .add p{
    font-size: 18px;
    color: #725550;
}
.contact .cForm{
    background-color: white;
    border-radius: 10px;
    width: 44%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cForm p{
    color: #5A3733;
    padding-bottom: 30px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.cForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 50px 30px;
    
}
.cForm form input, textarea{
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color:#F9F4F0;
    padding-left: 20px;
    font-family: "Signika Negative", sans-serif;
    font-size: 16px;
}
.cForm form input::placeholder{
    color: #AA9B8F;
}
.cForm form input:focus{
    outline-color:#EB6D2F;
}
.cForm form textarea:focus{
    outline-color:#EB6D2F;
}
.cForm form textarea{
    color: #AA9B8F;
    height: 150px;
    padding-top: 15px;
}
.cForm form button{
    background-color: #EB6D2F;
    color: white;
    font-weight: bold;
     font-family: "Signika Negative", sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
    outline: none;
    width: 350px;
    height: 40px;


}
a{
    text-decoration: none;
    color: #5A3733;
    font-size: 18px;
    font-family: "Signika Negative", sans-serif;
}
button{
     font-family: "Signika Negative", sans-serif;
}
.cForm form button:hover{
    background-color: #EDAC1D;
    cursor: pointer;
}
/* ...............footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px 70px;
}
footer .fLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .fLogo img{
    width: 100px;
   
}
footer .fLogo h1{
    color: #AA9B8F;
    font-size: 20px;
}
footer .fLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}
footer .fLinks a{
    text-decoration: none;
    color: #5A3733;
    font-weight: bold;
}
footer .fLinks a:hover{
    color: #EB6D2F;

}
footer .fSocials{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: white;
}
footer .fSocials .fa-brands{
    background-color: #EB6D2F;
    padding: 10px 8px;
    border-radius: 50%;
}
footer .fSocials .fa-brands:hover{
    background-color: #EDAC1D;
}


 


















@media all and (max-width:500px){
nav{
    justify-content: space-between;
    padding: 20px;
    
}
.navRight{
    flex-direction: column;
    align-items: start;
    justify-content: left;
    gap: 20px;
    position: fixed;
    top: 0;
    right: -110%;
    background-color: #F9F4F0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    padding-top: 15px;
    margin-top: 100px;
    

} 
.navRightLinks{
    flex-direction: column;
    align-items: start;
    padding-left: 5px;
    gap: 15px;
    

}
.navRightLinks a:hover{
    background-color: white;
}
.navRight button{
    margin-left: 0px;
}   
.heroBox{
    flex-direction: column;
    padding: 50px 20px;
    gap: 70px;
}
.heroBoxText{
    width: 100%;
}
.heroBoxText h1{
    font-size: 70px;
}
.heroBoxText p{
    font-size: 18px;
}
.heroBoxImage img{
    width: 350px;
    padding-left: 0;
}
.whatWeDo{
    gap: 20px;
    padding: 50px 20px;
}
.whatWeDo h1 , .whyUs h1{
    font-size: 40px;
}
.whatWeDo p{
    font-size: 18px;
}
.cards{
    flex-direction: column;
    gap: 35px;
}
.whyUs{
    flex-direction: column;
    gap: 50px;
    padding: 50px 20px;
}
.whyUs .whyUsImg img{
    width: 350px;
}
.whyUs .textBoxs{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.whyUs .textBox h2{
    font-size: 22px;
}
.whyUs .textBox p{
    font-size: 16px;
}
.whyUs .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

}